#page-container {
    position: fixed;
    display: flex;
    width:80%;
    height: 70%; /* 100% of the viewport height */
    justify-content:space-evenly; /* Center horizontally */
    align-items: center;
    top: 12%;
    left: 5%;
    margin: 0;
    /* transform: translate(-60%, -30%); */
}

#calendar{
    width: 80%;
    max-width: 85%;
    height: auto;
    position:relative;
    z-index: -1;
    margin-right: 20px;
}

.bookingForm {
    display: none;
    position: fixed;
    top: 24%;
    width: auto;
    height:auto;
    background:rgba(238, 233, 255,.9);
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow:0 4px 10px 4px rgba(238, 233, 255,.3);
    z-index: 50;
    font-family: 'Inter', sans-serif;
}

.field-wrap input, .field-wrap select {
    font-size:16px;
    display:block;
    width:95%;
    height:90%;
    padding:5px 10px;
    background:none;
    border:1px solid #a0b3b0;
    color: black;
    transition: border-color .25s ease, box-shadow .25s ease;
    &:focus {
          outline:0;
          border-color:#000000;
    }
}

.field-wrap select {
    text-align: center;
}

.field-wrap select option {
    text-align-last: center; /* Center text in the dropdown options */
}

/* Adjust font size for booking button */
.submitBooking {
    font-size:16px;
    margin-bottom: 5px;
}
.open {
    display: block;
    position: fixed;
}


/* Style the Add event button */
.addEventButtons {
    position: absolute;
    top: 0.5%;
    right: 10%;
    cursor: 'pointer';
    background-color: transparent;
    display: block;
    margin: 0;
    border: dashed;
    border-width: 3px;
    border-radius: 70px;
    border-color: #8773c1;
    background-color: rgba(255,255, 250, 0.5);
    color: #8773c1;
    margin: 5px 5px;
    z-index: 2;
}
.addEventButtons:hover {
    cursor:pointer;
}
.addEventButtons:active {
    opacity: 0.5;
    box-sizing: border-box;
    font-size: 59px;
    transition: background-color 0.25s ease, box-shadow .25s ease;
}


/* Style the delete button */
.deleteEventButtons {
    position: absolute;
    top: 0;
    right: -3%;
    cursor: 'pointer';
    background-color: transparent;
    display: block;
    margin: 0;
    border: 0;
}
.deleteEventButtons i {
    color: lightcoral;
}

.deleteEventButtons i:active {
    background-color: #ee97bd;
    color: red;
    opacity: 0.5;
    box-sizing: border-box;
    transition: background-color 2s ease, box-shadow .25s ease;
}


/* Style the Edit button */
.editEventButtons {
    position: absolute;
    bottom: 0;
    right: -3%;
    cursor: 'pointer';
    background-color: transparent;
    display: block;
    margin: 0;
    border: 0;
}
.editEventButtons i {
    color: black;
}
.editEventButtons i:active {
    /* background-color: transparent; */
    color: gray;
    opacity: 0.5;
    box-sizing: border-box;
    transition: background-color 2s ease, box-shadow .25s ease;
}


/* Adjust the style for the daily number of events */
.event-indicator {
    position: absolute;
    background-color: #8773c1;
    color: #fff;
    top: 0;
    right: 0;
    z-index: 10;
    margin-left: 10px;
    width: 20px;
    transform: translate(0, 0);
    border-radius: 30%;
    font-size: 16px;
    font-weight: bold;
}



/* Buttons to book or delete appointments */
/* .action-btns {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 40px;
    display: flex;
    text-align: center;
}
.click-btns {
    font-family: 'Inter', sans-serif, 'Courier New', Courier, monospace;
    color: #8773c1;
    background-color: rgba(255,255, 250, 0.5);
    margin: 5px 5px;
    font-size: x-large;
    z-index: 2;
}
.click-btns:hover {
    cursor:pointer;
} */


/* Container pop-up for when an appointment is made */
/* .popup-container {
    position: relative;
} */






